<%- include('partials/header') -%>
  <div class="chat-container">
    <header class="chat-header">
      <h1 class="writing"><i class="fas fa-heart"></i> Hazel Chat</h1>
      <a href="/feed" class="btn white">Back</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar invisible">
        <h3><i class="fas fa-comments"></i></h3>
        <!-- <h2 id="room-name"></h2>
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users">
          <li>%<= user[i].name %></li>
        </ul> -->
      </div>
      <div class="chat-messages"></div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
          class="rounded"
        />
        <button class="btn white"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.2/qs.min.js" integrity="sha512-vCegEXqPUYpZsTGz2lk0jaQ1psxtFeniVJACAXhMVxuoYa/N4nZkjoVFOxLwP7uGeQOoemiz7DQrIpRTj4IBPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>