<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>History</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8 text-center">
            <h1>History</h1>
          </div>
          <div class="col-md-3 text-right">
            <a href="chat.html"><button class="btn btn-info ml-4 mb-3 btn-block">Chat</button></a>
          </div>
        </div>
    <ul class="list-group">


      <li class="list-group-item">
        <span>What's</span>
        <a href="#" class="btn btn-primary float-right">Profile</a>
      </li>


      <li class="list-group-item">
        <span>Up</span>
        <a href="#" class="btn btn-primary float-right">Profile</a>
      </li>


      <li class="list-group-item">
        <span>Doc?</span>
        <a href="#" class="btn btn-primary float-right">Profile</a>
      </li>


      <li class="list-group-item">
        <span>(Bunny Said)</span>
        <a href="#" class="btn btn-primary float-right">Profile</a>
      </li>
    </ul>
  </div>
  <!-- Bootstrap JavaScript -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
</body>
</html>
