
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                    <div>
                    <h2>user: <%= user.userName %></h2>
                    </div>
                    <h2>Create Profile</h2>
                    <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="age" class="col-sm-2 col-form-label">Age</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="age" placeholder="Age" name="age">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="weight" class="col-sm-2 col-form-label">Weight</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="weight" placeholder="Weight" name="weight">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="blood" class="col-sm-2 col-form-label">Blood Type</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="blood_type" placeholder="Blood Type" name="blood_type">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="allergies" class="col-sm-2 col-form-label">Allergies</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="allergies" placeholder="Allergies" name="allergies">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="conditions" class="col-sm-2 col-form-label">Conditions</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="conditions" placeholder="Conditions" name="conditions">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="primary_contact" class="form-label">Primary Contact</label>
                            <input class="form-control" id="primary_contact" name="primary_contact"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="secondary_contact" class="form-label">Secondary Contact</label>
                            <input type="text" class="form-control" id="secondary_contact" name="secondary_contact">
                        </div>
                            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <h2>[Insert Patient Name]</h2> 
                      <!-- maybe patient Name should be the bee sting for username? -->
                        
                        <div class="mb-3">
                            <label for="imgUpload" class="form-label">Image</label>
                            <input type="file" class="form-control" id="imageUpload" name="file">
                        </div>
                        <ul>
                            <li><a href="profileEdit.html"><button class="btn btn-primary btn-sm my-1">Edit Profile</button></a></li>
                            <li><a href="chat.html"><button class="btn btn-primary btn-sm my-1">Chat</button></a></li>
                            <li><a href="history.html"><button class="btn btn-danger btn-sm my-1">History</button></a></li>
                            <li><a href="#"><button class="btn btn-primary btn-sm my-1">Patient Records</button></a></li>
                            <li><a href="#"><button class="btn btn-primary btn-sm my-1">Doctor Records</button></a></li>
                        </ul>
                    </div>
                </form>
              </div>
            </div>
          
          
          
          
          
          
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
            <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
          </body>
        </html>
    </body>
    </html>
</body>
</html>
