<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Profile</title>
</head>
<!-- make sure to insert input as an object on mongodb -->
<!--  -->








<body>
    <!DOCTYPE html>
    <html>
      <head>
        <title>Two Column Layout with Bootstrap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      </head>
      <body>
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h2>Profile</h2>
              <ul>
                <li>Name: <%= post.name %></li>
                <li>Age: <%= post.age %></li>
                <li>Weight: <%= post.weight %></li>
                <li>Blood Type: <%= post.blood_type %></li>
                <li>Allergies: <%= post.allergies %></li>
                <li>Conditions: <%= post.conditions %></li>
                <li>Emergency Contacts
                    <!-- <ul>  -->
                      <!-- find a way to link phone numbers to contacts -->
                        <li><button class="btn btn-primary btn-sm my-1">Primary Contact</button></li>
                        <li><button class="btn btn-danger btn-sm my-1">Secondary Contact</button></li>
                    <!-- </ul> -->
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h2><%= user.userName %></h2>
              <ul>
                <li><img class="img-fluid" src="<%= post.image%>" /></li>
                <!-- <li><a href="profile.ejs"><button class="btn btn-primary btn-sm">Edit Profile</button></a></li> -->
                <form
                action="/post/deletePost/<%= post.id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
              <%}%>
                <li><a href="chat.html"><button class="btn btn-primary btn-sm my-1">Chat</button></a></li>
                <li><a href="history.html"><button class="btn btn-danger btn-sm my-1">History</button></a></li>
                <li><a href="#"><button class="btn btn-primary btn-sm my-1">Patient Records</button></a></li>
                <li><a href="#"><button class="btn btn-primary btn-sm my-1">Doctor Records</button></a></li>
            </ul>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
      </body>
    </html>
</body>
</html>
